<template>
  <tr>
    <td class="p-1">{{ makeName(item) }}</td>
    <td class="p-1">{{ item.price }}</td>
    <td class="p-1">0.00</td>
    <td class="p-1">
      <div class="input-group">
        <button class="btn btn-sm btn-danger" @click="decrement" type="button">
          -
        </button>
        <input type="number" v-model="item.quantity" class="form-control p-1" />
        <button
          class="btn btn-sm btn-secondary"
          @click="increment"
          type="button"
        >
          +
        </button>
      </div>
    </td>
    <td class="p-1">
      {{ item.discount || 0.0 }}
    </td>
    <td class="p-1">
      {{ item.total_price }}
    </td>
    <td class="p-1">
      <i
        class="fa fa-trash cursor-pointer text-danger"
        @click="$emit('onItemRemove', id)"
      ></i>
    </td>
  </tr>
</template>

<script>
export default {
  name: "OrderRow",
  watch: {
    quantity(newQuantity) {
      const obj = { id: this.id, quantity: newQuantity };
      this.$emit("onQuantityChange", obj);
    },
  },
  props: ["item"],
  data() {
    return {
      quantity: 1,
      APP_URL: import.meta.env.VITE_APP_URL,
    };
  },
  methods: {
    increment() {
      this.item.quantity++;
      this.item.total_price = this.item.price * this.item.quantity;
    },
    decrement() {
      if (this.item.quantity > 1) {
        this.item.quantity--;
        this.item.total_price = this.item.price * this.item.quantity;
      }
    },
    makeName(item) {
      if (!item.name) {
        return `${item.menu_item?.name || ""}${
          item?.menu_serving?.name ? ` (${item.menu_serving.name})` : ""
        }${
          item?.menu_serving_quantity?.name
            ? ` (${item.menu_serving_quantity.name})`
            : ""
        }`;
      } else {
        return item.name;
      }
    },
  },
  emits: ["onQuantityChange", "onItemRemove"],
};
</script>

<style scoped>
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Decrease the width of the scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Set the desired width */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the handle */
  border-radius: 6px; /* Radius of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the handle on hover */
}
</style>
