<template>
  <div class="container mt-5 w-100 px-0 m-0">
    <div class="row">
      <div class="col-md-7">
        <div class="card p-3">
          <MenuItems
            :items="items"
            :categories="categories"
            @onAddItem="addOrderedItem"
          />
        </div>
      </div>
      <div class="col-md-5">
        <div class="card p-3">
          <Orders
            :orderedItems="formData.orderedItems"
            @onShowCustomer="showCustomer"
            @onShowDineIn="showDineIn"
            @onQuantityChange="changeQuantity"
            @onMakeOrder="store"
            :formData="formData"
            @onItemRemove="removeOrderedItem"
            :showText="formData.areaText"
          />
        </div>
      </div>
    </div>
    <div
      class="modal fade text-start"
      id="add_customer_modal"
      tabindex="-1"
      aria-labelledby="myModalLabel17"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel17">Add Customer</h4>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="customer_type" class="form-label"
                      >Customer Type</label
                    >
                    <select
                      id="customer_type"
                      v-model="formData.customer.type"
                      class="form-select select2"
                    >
                      <option value="">Select One</option>
                      <option
                        v-for="option in customerTypes"
                        :key="option.value"
                        :value="option.value"
                      >
                        {{ option.name }}
                      </option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="name" class="form-label">Customer Name</label>
                    <input
                      id="name"
                      type="text"
                      v-model="formData.customer.name"
                      class="form-control"
                      placeholder="Enter Name"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input
                      id="email"
                      type="email"
                      v-model="formData.customer.email"
                      class="form-control"
                      placeholder="Enter Email"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="phone_number" class="form-label">Phone</label>
                    <input
                      id="phone_number"
                      type="text"
                      v-model="formData.customer.phone_number"
                      class="form-control"
                      placeholder="Enter Phone"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" @click="hideCustomer">
              Add
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal fade text-start"
      id="order_success_modal"
      tabindex="-1"
      aria-labelledby="myModalLabel17"
      aria-hidden="true"
      data-keyboard="false"
      data-backdrop="static"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel17">Order Success</h4>
          </div>

          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <p class="text-success">Order Made Successfully!</p>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-info"
              @click="closeOrderSuccessDialog"
            >
              Ok
            </button>
            <button
              type="button"
              class="btn btn-success"
              @click="printOrderReceipt"
            >
              Order Receipt
            </button>
            <button
              type="button"
              class="btn btn-success"
              @click="printKitchenReceiptHandler"
            >
              Kitchen Receipt
            </button>
            <button
              type="button"
              class="btn btn-success"
              @click="printPOSReceipt"
            >
              Print Receipt
            </button>
          </div>
        </div>
      </div>
    </div>
    <div style="display: none">
      <PrintBill
        ref="printBillComponent"
        :order="printOrderData"
        :showKitchen="showKitchen"
      />
    </div>
    <div style="display: none">
      <PrintKitchenReceipt
        ref="printKitchenBillComponent"
        :order="printOrderData"
      />
    </div>
  </div>
</template>

<script>
import MenuItems from "./MenuItems.vue";
import Orders from "./Orders.vue";
import PrintBill from "./PrintBill.vue";
import MenuCategoryService from "../../service/MenuCategoryService";
import MenuItemService from "../../service/MenuItemService";
import OrderService from "../../service/OrderService";
import PrintKitchenReceipt from "./PrintKitchenReceipt.vue";

export default {
  name: "createSale",
  components: {
    MenuItems,
    Orders,
    PrintBill,
    PrintKitchenReceipt,
  },
  props: {
    property: {
      type: Number,
      default: null,
    },
    customer_id: {
      type: Number,
      default: null,
    },
  },
  data() {
    return {
      formData: {
        customer: {},
        total_price: 0,
        discount: 0,
        service_charges: 0,
        payment_method: "cash",
        orderedItems: [],
        areaText: "",
      },
      BASE_URL: import.meta.env.VITE_APP_URL,
      printOrderData: {},
      showOrderSuccessDialog: false,
      showCustomerDialog: false,
      showDineInDialog: false,
      items: [],
      tableOptions: [],
      categories: [],
      menuItemService: null,
      menuCategoryService: null,
      orderService: null,
      showKitchen: true,
      customerTypes: [
        { name: "FOC", value: "foc" },
        { name: "Walk-in", value: "walk-in" },
        { name: "Staff", value: "staff" },
      ],
    };
  },
  watch: {
    showOrderSuccessDialog(value) {
      if (value) {
        $("#order_success_modal").modal("show");
      }
    },
  },
  methods: {
    closeOrderSuccessDialog() {
      $("#order_success_modal").modal("hide");
      this.showOrderSuccessDialog = false;
      window.location.href = `${this.BASE_URL}properties/${this.property}/sales`;
    },
    async printPOSReceipt() {
      this.showKitchen = true;
      await this.$nextTick();
      this.$refs.printBillComponent.printOrder();
    },
    async printOrderReceipt() {
      this.showKitchen = false;
      await this.$nextTick();
      this.$refs.printBillComponent.printOrder();
    },
    printKitchenReceiptHandler() {
      this.$refs.printKitchenBillComponent.printOrder();
    },
    store() {
      this.orderService.storeOrder(this.property, this.formData);
    },
    showCustomer() {
      $("#add_customer_modal").modal("show");
    },
    hideCustomer() {
      $("#add_customer_modal").modal("hide");
    },
    showOrderSuccess() {},
    showDineIn() {
      this.showDineInDialog = true;
    },
    addOrderedItem(item) {
      const existingItemIndex = this.formData.orderedItems.findIndex(
        (existingItem) =>
          existingItem.id === item.id &&
          existingItem.menu_serving_id === item.menu_serving_id &&
          existingItem.menu_serving_quantity_id ===
            item.menu_serving_quantity_id
      );

      if (existingItemIndex !== -1) {
        // Item already exists, update quantity
        this.formData.orderedItems[existingItemIndex].quantity += item.quantity;
        this.formData.orderedItems[existingItemIndex].total_price =
          this.formData.orderedItems[existingItemIndex].quantity *
          this.formData.orderedItems[existingItemIndex].price;
      } else {
        // Item doesn't exist, push the new item
        this.formData.orderedItems.push(item);
      }
    },

    removeOrderedItem(itemId) {
      const indexToRemove = this.formData.orderedItems.findIndex(
        (item) => item.id === itemId
      );
      this.formData.orderedItems.splice(indexToRemove, 1);
    },
    changeQuantity(newItem) {
      // Find the index of the object with the specified id
      const indexToUpdate = this.formData.orderedItems.findIndex(
        (item) => item.id === newItem.id
      );

      // Check if the object with the specified id exists in the array
      if (indexToUpdate !== -1) {
        // Increment the quantity of the found object
        this.formData.orderedItems[indexToUpdate].quantity = newItem.quantity;
      }
    },
    clearForm() {
      this.formData = {
        customer: {},
        total_price: 0,
        payment_method: "cash",
        orderedItems: [],
        areaText: "",
        discount: 0,
        service_charges: 0,
      };
    },
    onChange(event) {
      this.formData.areaText = event.originalEvent.target.ariaLabel;
    },
  },
  created() {
    this.menuItemService = new MenuItemService(this);
    this.menuCategoryService = new MenuCategoryService(this);
    this.orderService = new OrderService(this);
  },
  mounted() {
    let self = this;
    self.menuItemService.getItemsForSale(self.property);
    self.menuCategoryService.getCategories(self.property);
    console.log(self.customer_id);
    self.formData.customer.id = self.customer_id;
    $("#customer_type").change(function () {
      var selectedCustomerType = $(this).val(); // Get the selected value
      // Update the formData object with the new value
      self.formData.customer.type = selectedCustomerType;
    });
  },
};
</script>
