<template>
  <div class="input-group">
    <span class="input-group-text">
      <img class="w-1rem" :src="`${APP_URL}/Images/search.png`" alt="" />
    </span>
    <input v-model="search" placeholder="Search" class="form-control py-2" />
  </div>
  <div class="mt-4">
    <carousel :items-to-show="4" :transition="500">
      <slide
        v-for="category in allCategories"
        :key="category.id"
        class="pb-0 cursor-pointer carousel-item"
        @click="activeTab = category.id"
      >
        <div
          class="carousel__item"
          :class="{ 'active-tab': activeTab === category.id }"
        >
          {{ category.name }}
        </div>
      </slide>

      <template #addons>
        <navigation />
        <pagination />
      </template>
    </carousel>
  </div>
  <div class="mt-2">
    <ItemsListing :items="filteredItems" @onAddItem="addItem" />
  </div>
</template>

<script>
import ItemsListing from "./MenuItems/ItemsListing.vue";
import "vue3-carousel/dist/carousel.css";
import { Carousel, Slide, Pagination, Navigation } from "vue3-carousel";

export default {
  name: "MenuItems",
  props: ["items", "categories"],
  components: {
    ItemsListing,
    Carousel,
    Slide,
    Pagination,
    Navigation,
  },
  data() {
    return {
      activeTab: "all",
      search: "",
      APP_URL: import.meta.env.VITE_APP_URL,
    };
  },
  computed: {
    filteredItems() {
      const searchTerm = this.search.toLowerCase();

      return this.items.filter((item) => {
        const matchesCategory =
          this.activeTab === "all" || item.menu_category_id === this.activeTab;
        const matchesSearch =
          this.search === "" || item.name.toLowerCase().includes(searchTerm);

        return matchesCategory && matchesSearch;
      });
    },
    allCategories() {
      return [{ id: "all", name: "All" }, ...this.categories];
    },
  },
  emits: ["onAddItem"],
  methods: {
    addItem(data) {
      this.$emit("onAddItem", data);
    },
  },
};
</script>
<style scoped>
.active-tab {
  font-weight: bold;
}
</style>
