<template>
  <div class="container px-0 mt-1" v-if="items.length > 0">
    <div class="row overflow-y-auto height">
      <ItemCard
        v-for="item in items"
        :key="item.id"
        :item="item"
        @onAddItem="addItem"
      />
    </div>
  </div>
  <div v-else class="mt-8 text-3xl font-bold text-center">
    <p>No Item Found!</p>
  </div>
</template>

<script>
import ItemCard from "./ItemCard.vue";

export default {
  name: "ItemsListing",
  components: {
    ItemCard,
  },
  data() {
    return {};
  },
  props: ["items"],
  emits: ["onAddItem"],
  methods: {
    addItem(data) {
      this.$emit("onAddItem", data);
    },
  },
};
</script>

<style>
.height {
  max-height: 450px;
  overflow: auto;
}
</style>

