<template>
  <div class="col-md-6 col-lg-4 px-1 pb-3 text-center">
    <div
      class="bg-white custom-width d-flex flex-column align-items-center border rounded-3 px-2 pb-3 overflow-hidden shadow-sm hover-shadow"
    >
      <div class="w-100 m-0 my-2 rounded overflow-hidden">
        <img
          class="w-100 h-10rem object-cover card_height"
          :src="`${BASE_URL + item.image}`"
          alt=""
        />
      </div>
      <div>
        <p class="m-0 font-weight-bold text-base fw-bold text-black">
          {{ item.name }}
        </p>
      </div>
      <div class="w-100 mt-2 d-flex justify-content-center pr-4">
        <div
          @click="addItem"
          class="inline rounded bg-primary text-white d-flex cursor-pointer p-2"
        >
          Add to Dish
        </div>
      </div>
      <div
        class="modal fade text-start"
        :id="'service_size_modal_' + item.id"
        tabindex="-1"
        aria-labelledby="myModalLabel17"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel17">Serving Sizes</h4>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Serving</th>
                      <th>Unit</th>
                      <th>Price</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody
                    v-if="
                      item.menu_item_details &&
                      item.menu_item_details.length > 0
                    "
                  >
                    <tr
                      v-for="serving in item.menu_item_details"
                      :key="serving.id"
                    >
                      <td>
                        {{ serving.menu_serving?.name }}
                      </td>
                      <td>
                        {{ serving.menu_serving_quantity?.name }}
                      </td>
                      <td>{{ serving.price }}</td>
                      <td>
                        <button
                          class="btn btn-secondary rounded_circle p-2 bg-success mr-2"
                          @click="addInCart(item, serving)"
                        >
                          <img
                            class="w-1rem"
                            :src="`${APP_URL}/Images/Add.png`"
                            alt=""
                          />
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ItemCard",
  props: ["item"],
  emits: ["onAddItem"],
  data() {
    return {
      APP_URL: import.meta.env.VITE_APP_URL,
      BASE_URL: import.meta.env.VITE_MEDIA_BASE_URL,
    };
  },
  methods: {
    addItem() {
      $(`#service_size_modal_${this.item.id}`).modal("show");
    },
    addInCart(item, serving) {
      const data = {
        id: item.id,
        name: `${item?.name || ""}${
          serving?.menu_serving?.name ? ` (${serving.menu_serving.name})` : ""
        }${
          serving?.menu_serving_quantity?.name
            ? ` (${serving.menu_serving_quantity.name})`
            : ""
        }`,
        quantity: 1,
        price: serving.price,
        total_price: 1 * serving.price,
        menu_serving_id: serving.menu_serving?.id,
        menu_serving_quantity_id: serving.menu_serving_quantity?.id,
      };
      this.$emit("onAddItem", data);
    },
  },
};
</script>

<style scoped>
.card_height {
  height: 12rem;
}

@media screen and (max-width: 375px) {
  .card_height {
    height: 10rem !important;
  }
}
@media screen and (max-width: 768px) {
  .card_height {
    height: 20rem !important;
  }
}

@media screen and (max-width: 1200px) {
  .card_height {
    height: 10rem;
  }
}

.object-cover {
  object-fit: cover;
}
</style>
